<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('./layouts/header') %>

    <title><%= title %></title>
  </head>

  <body>
    <%- include('./layouts/navbar') %>

    <!-- Content -->
    <div class="container-prioclass">
      <!--Start Priority Class-->
      <div>
        <p>
          <button
            class="btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse"
            aria-expanded="false"
            aria-controls="collapse"
          >
            <h5>Priority Class</h5>
          </button>
        </p>

        <div class="collapse.show" id="collap">
          <div class="card card-body pl-4">
            <div class="row">
              <div class="col">
                <div class="card" id="class">
                  <a>
                    <img
                      src=""
                      alt=""
                      width="50"
                      class="card-img-top"
                    />
                    <hr class="divider" />
                    <div class="card-body">
                      <a href="/">
                        <h5 class="card-title" style="text-align: center">
                           Class
                        </h5>
                      </a>
                      <h6
                        class="card-subtitle mb-2 text-muted"
                        style="text-align: center"
                      >
                        Tarumanagara University 2021
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end Priority Class-->
    </div>

    <!--Start More Class-->
    <div class="container-moreclass">
      <p>
        <button
          class="btn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          <div class="row">
            <div class="col col-lg-2">
              <span class="material-symbols-outlined"> arrow_forward_ios </span>
            </div>
            <div class="col">
              <h5>More Class</h5>
            </div>
          </div>
        </button>
      </p>
      <div style="min-height: 120px">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body pl-4">
            <div class="row">
              <div class="col">
                <div class="card" id="class">
                  <a href="../Class/class_bigdata/index.html">
                    <img
                      src="assets/big data.jpg"
                      alt="Big Data"
                      class="card-img-top"
                    />
                    <hr class="divider" />
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title" style="text-align: center">
                          Big data Class
                        </h5>
                      </a>
                      <h6
                        class="card-subtitle mb-2 text-muted"
                        style="text-align: center"
                      >
                        Tarumanagara University 2021
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card" id="class">
                  <a href="../Class/class_ITOS/index.html">
                    <img
                      src="assets/intro to OS.jpg"
                      alt="ITOS"
                      class="card-img-top"
                    />
                    <hr class="divider" />
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title" style="text-align: center">
                          Intro to OS Class
                        </h5>
                      </a>
                      <h6
                        class="card-subtitle mb-2 text-muted"
                        style="text-align: center"
                      >
                        Tarumanagara University 2021
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card" id="class">
                  <a href="../Class/class_compsys/index.html">
                    <img
                      src="assets/computer system.jpg"
                      alt="Computer System"
                      class="card-img-top"
                    />
                    <hr class="divider" />
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title" style="text-align: center">
                          Computer System Class
                        </h5>
                      </a>
                      <h6
                        class="card-subtitle mb-2 text-muted"
                        style="text-align: center"
                      >
                        Tarumanagara University 2021
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end More Class-->

    <!--start Point Notification-->
    <div class="container-notif">
      <div class="card text-center">
        <div class="card-header">
          <b>Your Points</b>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Class</th>
                <th scope="col">Assignment</th>
                <th scope="col">Point</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">1</th>
                <td><a href="/Class/class_bigdata/index.html">Big Data</a></td>
                <td>4<sup>th</sup></td>
                <td>80</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><a href="/Class/class_ai/index.html">AI</a></td>
                <td>2<sup>nd</sup></td>
                <td>90</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><a href="/Class/class_ITOS/index.html">Intro To OS</a></td>
                <td>3<sup>rd</sup></td>
                <td>100</td>
              </tr>
            </tbody>
          </table>
          <tr>
            <td>
              <a href="/Grades/index.html" class="btn btn-notif btn-primary"
                >See More</a
              >
            </td>
            <td>
              <a href="/assignment" class="btn btn-notif btn-primary"
                >See Assignment</a
              >
            </td>
          </tr>
        </div>
        <div class="card-footer text-muted">updated 3 minute ago</div>
      </div>
    </div>
    <!--end point notification-->

    <!-- join class -->
    <form action="/home" method="post" enctype="multipart/form-data">
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="staticBackdropLabel">Enter code</h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="fullName"
                  aria-describedby="fullNameHelp"
                  placeholder="Enter code to join class"
                  value=""
                  name="join"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Join</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!--create class-->
    <form action="/home" method="post" enctype="multipart/form-data">
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title align-items-center"
                id="exampleModalLongTitle"
              >
                Create class
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="card-header">Profile Picture</div>
                  <br />
                  <div class="card-body text-center">
                    <div class="profile-pic">
                      <label class="-label" for="file">
                        <span class="fa fa-camera"></span>
                        <span>Change Image</span>
                      </label>
                      <input
                        id="file"
                        type="file"
                        name="classImg"
                        onchange="loadFile(event)"
                        required
                      />
                      <img src="assets/user.png" id="output" width="200" />
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div>
                    <label for="nameClass">Name class</label>
                    <input
                      type="text"
                      class="form-control"
                      id="className"
                      name="className"
                      placeholder="Enter name class"
                      required
                    />
                  </div>
                  <div>
                    <label for="descClass">Description class</label>
                    <input
                      type="text"
                      class="form-control"
                      id="classDesc"
                      name="classDesc"
                      placeholder="Enter Description"
                    />
                  </div>
                  <div>
                    <label for="codeClass">Code class</label>
                    <input
                      type="text"
                      class="form-control"
                      id="classCode"
                      name="classCode"
                      placeholder="Enter code class input"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <small id="codeHelp" class="form-text text-muted"
                      >* Class Code harus dalam angka</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-primary"
                onclick="submitFile(event)"
                name="submit"
                value="Add Class"
              >
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- End of Content -->

    <!-- Circular Menu -->
    <%- include('./layouts/circular-menu') %>

    <!-- Script -->
    <!-- Script Jquery -->
    <script src="https://api.jquery.com/"></script>
    <!-- Script External -->
    <script src="<%= script %> "></script>
    <!-- Script Feather Icon -->
    <script>
      feather.replace()
    </script>
  </body>
</html>
